* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    color: #fff;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: black;
    background-size: 400% 400%;
    position: relative;
    animation: change 30s ease-in-out infinite;
    overflow: overlay;
}
.menu-area ul{
    padding: 0;
    display: flex;
    float: inherit;
}
.menu-area ul li{
    list-style: none;
    padding: 10px 20px;
}
.menu-area ul li:nth-of-type(11){
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.menu-area ul li a{
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.menu-area ul li a:before{
    content: '';
    width: 0;
    transition: .6s;
    left: 0;
    top: -5px;
    position: absolute;
    background: #fff;
    height: 3px;
}


.menu-area ul li:hover a:before{
    transform: translateX(100%);
    width: 50%;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff);
}
main {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}
article {
    flex: 1 1 59%;
    order: 2;
}
.stocks {
    padding: 20px;
}
#standings {
    flex: 1 1 25%;
    order: 3;
    /* padding-right: 5px; */
}
article h2 {
    text-align: center;
}

footer {
    text-align: center;
}
#ads {
    flex: 1 1 16%;
    order: 1;
	padding: 10px;
}